/Latihan1/nbproject/private/
/Calculator/nbproject/private/
/Calculator/build/
/Calculator/dist/
/ikmal_project/dist/
/ikmal_project/nbproject/private/
/Latihan1/dist/
/Menghitung Luas dan Keliling Segitiga/nbproject/private/
/Menghitung Luas dan Keliling Segitiga/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/dist/
/LatihanEnkasulapsi/nbproject/private/
/LatihanEnkasulapsi/build/
/LatihanEnkasulapsi/dist/
/Dzaki_TugasPertemuan4/nbproject/private/
/Dzaki_TugasPertemuan4/build/
/Dzaki_TugasPertemuan4/dist/
/Inheritance/nbproject/private/
/Inheritance/build/
/Inheritance/dist/
/Mahasiswa/nbproject/private/
/Mahasiswa/build/
/JavaApplication5/dist/
/JavaApplication2/nbproject/private/
/JavaApplication2/build
/Coba/nbproject/private/
/Coba/build/
/Aplikasi Daftar Kontak HP/nbproject/private/
/Aplikasi Daftar Kontak HP/build/
/tplp016/target/
/perpustakaan/nbproject/private/
/perpustakaan/build/
/perpustakaan/dist/
/Coba/dist/
/inventori_barang/nbproject/private/
/inventori_barang/build/
/Pertemuan9/nbproject/private/
/Pertemuan9/build/
/Pertemuan10/nbproject/private/
/Pertemuan10/build/
/Pertemuan10/dist/
/belajar/build/
/belajar/nbproject/private/
/BelajarAndri2 - Copy/build/
/BelajarAndri2 - Copy/nbproject/private/
/PenjualanMobil/build/
